{% extends 'layout.html' %}

{% block body %}
  <h1>Search results</h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ISBN</th>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th></th>
    </tr>
    {% for result in data %}
    <tr>
      <td><a href="book/{{result.isbn}}">{{result.isbn}}</a></td>
      <td><a href="book/{{result.isbn}}">{{result.title}}</a></td>
      <td><a href="book/{{result.isbn}}">{{result.author}}</a></td>
      <td><a href="book/{{result.isbn}}">{{result.year}}</a></td>
      <td></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
